@font-face {
    font-family: 'Namaku';
    src: url('../fonts/Namaku.ttf') format('truetype');
  }
  
  .leaderboard-page {
    min-height: 100vh;
    margin: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Namaku', sans-serif;
  }
  

  
  @media (max-width: 600px) {
    .leaderboard-page h1 {
      font-size: 36px;
    }
  }